/* #db1b1bcc */

body {
    margin: 0px;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 80%;
    margin: 25vh auto 4% auto;
}

.title {
    text-align: center;
    margin-bottom: 10%;
}

.social a {
    padding-left: 1%;
    padding-right: 1%;
    color: inherit;
}

.social a:hover {
    color: rgb(28, 160, 241);
}

.project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    margin: 4%;
    padding: 4%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.project h4 {
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
}

.project-des {
    font-size: 14pt;
}

.project-links {
    margin-top: auto;
}

.project-links-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-links-space a {
    color: inherit;
}

.project-links-space a:hover {
    color: rgb(28, 160, 241);
}

@media only screen and (max-width: 900px) {
    .project-grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        width: 90%;
        margin: 5vh auto 4% auto;
    }

    .project-grid {
        grid-template-columns: auto;
    }
}

